<div class="p-4">
  <div class="container">
    <div *ngIf="!loginDisplay">
      <h1>Have you ever been the victim of claim fraud</h1>
      <h2>If so, Join Spartan - near-real time fraud detection system</h2>
    </div>

    <div *ngIf="loginDisplay">
      <div>
        <div class="p1">
          <h2>Welcome to the Spartan - Powered By Azure Machine Learning</h2>
        </div>
        <!-- <div class="p2">
          <h4>Save money and time Using Our Advanced Claims Fraud Detection System</h4>
        </div> -->
      </div>
    </div>
  </div>
</div>
